<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuri.luis.garcia.pereira.tcs_implementacao">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/netword_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".view.ListaInterfaceActivity"></activity>
        <activity android:name=".view.InterfaceActivity" />
        <activity android:name=".view.RegraItemResultadoActivity" />
        <activity android:name=".view.RegraItemActivity" />
        <activity android:name=".view.ListaRegrasActivity" />
        <activity android:name=".view.RegraActivity" />
        <activity android:name=".view.ListaVariavelAndAddActivity" />
        <activity android:name=".view.ValorVariavelActivity" />
        <activity android:name=".view.VariavelActivity" />
        <activity android:name=".view.CarregarFotoActivity" />
        <activity android:name=".view.TirarFotoActivity" />
        <activity android:name=".view.ResultadoAcitivity" />
        <activity android:name=".view.ExecucaoActivity" />
        <activity android:name=".view.MainActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>